<div class="row mb-3">
    <%if @results.present? %>
      <% @results.each do |key, value| %>
          <% key.each do |k,value1| %>
              <div class="col-md-6  animated slideInUp ">
                <div class="card card-outline-secondary my-1 shadow">
                  <div class="card-header">
                    Claim No: <%=k%>
                  </div>
                  <div class="card-body">
                    <% value1.each do |k1, v| %>
                        <p><%= k1 %> : <%= v %> </p>
                    <% end %>
                  </div>
                </div>
              </div>
          <% end%>
      <% end %>
    <%end%>
</div>