<div class="row mb-3">
  <%if @results.present? %>
      <div class="col-md-12 animated slideInUp ">
        <table id="table_records" class="display  dt-responsive responsive table-responsive table-bordered" style="width:100%">
          <thead>
          <tr>
            <th>Claim No</th>
            <th>Ref/Acct No</th>
            <th>Member ID</th>
            <th>Member Name</th>
            <th>Member DOB</th>
            <th>Servicing Provider</th>
            <th>Servicing NPI</th>
            <th>DOS Range</th>
            <th>Received Date</th>
            <th>Billed Amount</th>
            <th>Payment Amount</th>
            <th>Payment Date</th>
            <th>Status</th>
          </tr>
          </thead>
          <tbody>

          <% @results.each do |key, value| %>
              <% key.each do |k,value1| %>
                  <tr>
                    <td><%=k%></td>
                    <% value1.each do |k1, v| %>
                        <td><%= v %> </td>
                    <% end %>
                  </tr>
              <% end%>
          <% end %>
          </tbody>
        </table>
      </div>
      </div>
  <% end%>